html
{
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

@media screen and (min-width: 750px)
{
    ::-webkit-scrollbar
    {
        width: 1.5rem;
    }
    ::-webkit-scrollbar-thumb
    {
        background-image: linear-gradient(red, blue);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track
    {
        background: grey;
    }
}