@mixin mix_center
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@mixin def_material_arrow
{
        margin-top: 1rem;
        font-size: 5rem;
        background-color: white;
        border-radius: 100%;
}
