$gradient_color1: #aa4b6b;
$gradient_color2: #6b6b83;
$gradient_color3: #3b8d99;



.napisy
{
    height: 100vh;
    background: linear-gradient(to bottom, $gradient_color1, $gradient_color2, $gradient_color3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1
    {
      font-size: 3.3rem; 
    }
    h2
    {
        font-size: 2rem;
    }
    button
    {
        border-radius: 100%;
        height: 50px;
        width: 50px;
    }
    .arrow-class
    {
        margin-top: 1rem;
        font-size: 5rem;
        background-color: white;
        border-radius: 100%;
    }
    hr
    {
        display: none;
    }
}


@media screen and (min-width: 750px)
{
    .napisy
    {
        h1
        {
            font-size: 6vw;
        }
        h2
        {
            font-size: 3vw;
        }
    }
}