@use '../variables/variables' as var;
@use '../../mixins/mixins.scss' as mix;


.napisy
{
    height: 100vh;
    background: linear-gradient(to bottom, var.$gradient_color1, var.$gradient_color2, var.$gradient_color3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1
    {
      font-size: 3.3rem; 
    }
    h2
    {
        font-size: 2rem;
    }
    button
    {
        border-radius: 100%;
        height: 50px;
        width: 50px;
    }
    .arrow_class
    {
        @include mix.def_material_arrow
    }
    hr
    {
        display: none;
    }
}


@media screen and (min-width: 750px)
{
    .napisy
    {
        h1
        {
            font-size: 6vw;
        }
        h2
        {
            font-size: 3vw;
        }
    }
}